nose2==0.9.*                    # tests
requests-mock==1.7.*            # tests, Client
aioresponses==0.7.*             # tests, AsyncClient
pylint==2.7.0*                   # style
coverage==5.1.*                 # coverage
mkdocs==1.1.*                   # docs
twine                           # pypi tools
pyOpenSSL==19.1.*               # twine dependency
readme_renderer[md]==26.0.*     # command 'twine check'
wheel==0.34.*                   # command 'setup.py sdist bdist_wheel'
